@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor_strong: #4bebd0;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 19%;    
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

strong {
    color: var(--cor_strong);
}

.apresentacao {
    padding: 2.55% 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 300px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;    
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 5px;
    width: 70%;
    min-width: 200px;
    max-width: 388px;
    text-align: center;    
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-primaria);
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 21.5px 0;
    margin: 0 5px 0 0;    
}

.apresentacao__conteudo__links__link:hover {
    background-color: var(--cor-hover);
}

#apresentacao__imagem {
    width: 45%;    
    height: 45%;
    
    min-width: 300px;
    min-height: 350px;
    /*
    max-width: 488px;
    max-height: 550px;
    */
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10% 0 2% 0;        
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    #apresentacao__imagem {
        width: 80%;
        max-width: 400px;        
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}